/* Start CSS for Form in Login Page*/
.wave-group {
    position: relative;
    border-bottom: 1px solid #515151;
}

.wave-group i {
    position: absolute;
    left: -25px;
    top: 16px;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
    transform: translateY(-30px);
    font-size: 16px;
    color: #1A1C1B;
}

.wave-group .bar {
    position: relative;
    display: block;
}

.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #1A1C1B;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}
/* End CSS for Form in Login Page*/

.textSidebar {
    color: white; /* Latar belakang putih */
}
.nav-link.active .textSidebar {
    color: #343a40; /* Change this to the desired dark color */
}

/* End Sidebar */
/* Gaya untuk tombol dengan warna latar belakang biru dan icon */
.btn-blue {
    background-color: #007bff; /* Warna biru (sesuaikan dengan preferensi Anda) */
    color: #fff; /* Warna teks putih agar kontras */
    border: none; /* Hilangkan border jika Anda tidak memerlukannya */
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan */
    border-radius: 3px; /* Bentuk sudut tombol */
    cursor: pointer; /* Ganti kursor saat digerakkan ke tombol */
}
.btn-green {
    background-color: #10a760; /* Warna biru (sesuaikan dengan preferensi Anda) */
    color: #fff; /* Warna teks putih agar kontras */
    border: none; /* Hilangkan border jika Anda tidak memerlukannya */
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan */
    border-radius: 3px; /* Bentuk sudut tombol */
    cursor: pointer; /* Ganti kursor saat digerakkan ke tombol */
}
.btn-red {
    background-color: #da3e33; /* Warna biru (sesuaikan dengan preferensi Anda) */
    color: #fff; /* Warna teks putih agar kontras */
    border: none; /* Hilangkan border jika Anda tidak memerlukannya */
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan */
    border-radius: 3px; /* Bentuk sudut tombol */
    cursor: pointer; /* Ganti kursor saat digerakkan ke tombol */
}

/* Gaya untuk tombol biru saat digerakkan (hover) */
.btn-blue:hover {
    background-color: #0056b3; /* Warna biru lebih gelap saat hover (sesuaikan dengan preferensi Anda) */
}
.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg,#c4c4c4,#c4c4c4);
}
.icon {
    border: 2px solid black; /* Membuat garis tepi sebanyak 2px dengan warna hitam */
  }
  .horizontal {
    border: 2px solid white; /* Atur ketebalan dan warna garis sesuai keinginan (dalam contoh ini, hitam) */
    width: 90%;
    display: block; /* Mengatur elemen sebagai blok */
    margin: 0 auto; /
  }
  .menu {
    margin-top: 20px; /* Menambahkan margin atas 20px ke elemen menu */
  }
  /* Mengatur tampilan label */
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }

  /* Mengatur tampilan input */
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /* Mengatur tampilan tombol "Save" */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  /* Mengatur tampilan tombol "Cancel" */
  .btn-outline-secondary {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
 /* css edit kategori

 /* CSS untuk mengatur tampilan tabel */
.table {
    width: 100%;
    margin: 0 auto; /* Mengatur tabel di tengah secara horizontal */
}
.tables{
    text-align: left;

}
.table th, .table td {
    text-align: center; /* Mengatur teks di sel tabel di tengah */
}
/* CSS untuk menghilangkan garis pada tabel dan sel-selnya */
.table-no-border {
    border: none; /* Menghilangkan garis pada tabel */
}

.table-no-border th, .table-no-border td {
    border: none; /* Menghilangkan garis pada sel-sel tabel */
}
/* button */
.right-align {
    text-align: right;
}

.small-button {
    font-size: 0.8rem;
}
nav {
    margin-top: 15px; /* Sesuaikan jarak sesuai kebutuhan */
}

/* CSS untuk container utama */
.col-sm-12.col-md-6 {
    margin: 10px; /* Margin untuk memberikan jarak dari elemen lain */
    background-color: #f8f9fa; /* Warna latar belakang */
    border: 1px solid #ccc; /* Border untuk frame */
    border-radius: 5px; /* Sudut elemen bulat */
    padding: 10px; /* Ruang dalam elemen */
}

/* CSS untuk tombol-tombol */
.dt-buttons button {
    margin: 5px; /* Jarak antara tombol */
    padding: 10px 20px; /* Ukuran tombol */
    background-color: #007bff; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks */
    border: none; /* Hapus border */
    border-radius: 5px; /* Sudut tombol bulat */
    cursor: pointer; /* Tanda kursor saat dihover */
    transition: background-color 0.3s; /* Animasi perubahan warna latar belakang saat hover */
}

/* Efek hover pada tombol */
.dt-buttons button:hover {
    background-color: #0056b3; /* Warna latar belakang saat dihover */
}

/* CSS untuk container tombol */
.dt-buttons {
    display: flex; /* Mengatur tombol dalam satu baris */
    justify-content: center; /* Tombol terpusat di dalam container */
}
/* CSS untuk menghilangkan garis bawah dari elemen-elemen tabel */
.table th, .table td {
    border-bottom: none;
}

/* CSS untuk mengatur tampilan dan jarak tabel */
.table-no-bordered {
    border: none;
}

/* Memusatkan isi tabel secara horizontal */
.table-no-bordered th,
.table-no-bordered td {
    text-align: center;
}

/* Mengatur jarak antara kolom */
.table-no-bordered th,
.table-no-bordered td {
    padding: 10px;
}

/* Mengatur warna latar belakang latar belakang baris ganjil */
.table-no-bordered tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Menghilangkan garis bawah dari elemen-elemen tabel */
.table-no-bordered th,
.table-no-bordered td {
    border-bottom: none;
}

/* Memusatkan isi sel header */
.table-no-bordered thead th {
    text-align: center;
}

/* Memusatkan teks dalam sel */
.table-no-bordered tbody td {
    text-align: center;
}

/* Menambahkan ruang antara kolom */
.table-no-bordered th,
.table-no-bordered td {
    padding: 15px;
}
/* CSS untuk mengatur tampilan teks kiri */
table {
    width: 100%;
    text-align: left;
}

table td,
table th {
    padding: 5px;
    vertical-align: left;
}

/* CSS untuk mengatur tampilan legend */
.legend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;    
    justify-content: center; /* Mengatur alignment vertikal ke tengah */
    align-items: center; /* Mengatur alignment horizontal ke tengah */
    text-align: center; /* Mengatur alignment teks ke tengah */
    height: 100%; 
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  
  .legend-color1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .legend-color2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    
  }
  .legend-color3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .legend-label1 {
    font-weight: bold;
    text-align: center;
  }
  .legend-label2 {
    font-weight: bold;
    text-align: center;
  }.legend-label3 {
    font-weight: bold;
    text-align: center;
  }
  .legend-value1 {
    margin-left: 5px;
    text-align: center;
  }
  .legend-value2 {
    margin-left: 5px;
    text-align: center;
  }
  .legend-value3{
    margin-left: 5px;
    text-align: center;
  }
  
  /* Tambahan styling khusus untuk setiap elemen legenda */
  .legend-color1:nth-child(odd) {
    background-color: #0d6efd;
  }
  
  .legend-color2:nth-child(even) {
    background-color: #b91d47;
  }
  
  .legend-color3:nth-child(3) {
    background-color: #198754;
  }

  /* Ganti ukuran elemen-elemen sesuai kebutuhan */
  
  
  /* Ganti ukuran elemen .card dengan kelas .status-aset sesuai kebutuhan */
  .card.status-aset {
    width: 300px; /* Ganti lebar card sesuai kebutuhan */
  }

  .legend-color1,
  .legend-color2,
  .legend-color3 {
    width: 10px; /* Ganti lebar warna legend sesuai kebutuhan */
    height: 10px; /* Ganti tinggi warna legend sesuai kebutuhan */
  }

  .legend-label,
  .legend-value1,
  .legend-labe2,
  .legend-value2,
  .legend-labe3,
  .legend-value3 {
    font-size: 11px; /* Ganti ukuran font sesuai kebutuhan */
  }

  .aset-inventori {
    background-color: #fff; /* Warna latar belakang */
    border: 1px solid #e0e6ed; /* Warna border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan */
    padding: 10px;
  }

  


  .inventory-aset {
    background: #ffffff; /* Warna latar belakang kartu */
    border: 1px solid #e0e0e0; /* Warna border kartu */
    border-radius: 10px; /* Mengatur sudut border kartu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan kartu */
    transition: all 0.3s ease; /* Efek transisi saat hover */
  
    /* Style untuk judul */
  }
    .card-body h6 {
      font-size: 16px; /* Ukuran teks judul */
      font-weight: 600; /* Ketebalan teks judul */
      margin-bottom: 10px; /* Jarak bawah judul */
      color: #333; /* Warna teks judul */
    }
  
    /* Style untuk chart */
    .chart-canvas {
      width: 100%; /* Lebar grafik 100% dari kontainer */
      max-width: 100%; /* Lebar maksimum adalah 100% dari kontainer */
      height: auto; /* Tinggi otomatis sesuai konten */
    }
  
    /* Style untuk latar belakang dalam kartu */
    .bg-gradient-dark {
      background: linear-gradient(45deg, #fdfdfd, #fcfcfb); /* Gradien latar belakang */
      border-radius: 10px; /* Mengatur sudut latar belakang */
    }
  
  

  


  .status-asett {
    background: #ffffff; /* Warna latar belakang kartu */
    border: 1px solid #e0e0e0; /* Warna border kartu */
    border-radius: 10px; /* Mengatur sudut border kartu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan kartu */
    transition: all 0.3s ease; /* Efek transisi saat hover */
  
    /* Style untuk judul */
    .card-body h6 {
      font-size: 16px; /* Ukuran teks judul */
      font-weight: 600; /* Ketebalan teks judul */
      margin-bottom: 10px; /* Jarak bawah judul */
      color: #333; /* Warna teks judul */
    }
  
    /* Style untuk chart doughnut */
    .doughnut .chart-canvas {
      width: 100%; /* Lebar grafik 100% dari kontainer */
      height: auto; /* Tinggi otomatis sesuai konten */
    }
  
    /* Style untuk legenda */
    .legend {
      display: flex; /* Menyusun legenda secara horizontal */
      justify-content: space-between; /* Memberikan jarak antara elemen legenda */
      align-items: center; /* Membuat elemen legenda vertikal-tertengah */
      margin-top: 10px; /* Jarak atas legenda dari chart */
    }
  
    .legend-color1, .legend-color2, .legend-color3 {
      width: 20px; /* Lebar kotak warna legenda */
      height: 20px; /* Tinggi kotak warna legenda */
      border-radius: 50%; /* Membuat kotak warna menjadi lingkaran */
    }
  
    .legend-label, .legend-labe2, .legend-labe3 {
      font-size: 14px; /* Ukuran teks legenda */
      margin-left: 10px; /* Jarak antara kotak warna dan teks legenda */
      color: #333; /* Warna teks legenda */
    }
  
    /* Efek hover pada kartu */
    
    
  }
  .status-asett .doughnut .chart-canvas {
    width: 300px; /* Atur lebar sesuai yang Anda inginkan */
    height: 300px; /* Atur tinggi sesuai yang Anda inginkan */
  }
  .depresiasi-aset {
    background: #ffffff; /* Warna latar belakang kartu */
    border: 1px solid #e0e0e0; /* Warna border kartu */
    border-radius: 10px; /* Mengatur sudut border kartu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan kartu */
    transition: all 0.3s ease; /* Efek transisi saat hover */
  }
  .inventaris-aset {
    background: #ffffff; /* Warna latar belakang kartu */
    border: 1px solid #e0e0e0; /* Warna border kartu */
    border-radius: 10px; /* Mengatur sudut border kartu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan kartu */
    transition: all 0.3s ease; /* Efek transisi saat hover */
  }
  .card{
    background: #ffffff; /* Warna latar belakang kartu */
    border: 1px solid #e0e0e0; /* Warna border kartu */
    border-radius: 10px; /* Mengatur sudut border kartu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan kartu */
    transition: all 0.3s ease; /* Efek transisi saat hover */
  }
  
  .card.inventori-ada {
    max-width: 450px;
}
.gender-heading { 
  margin-right: 10px;
}

.text-employee { 
  font-size: 17px;
}
.text-category { 
  font-size: 17px;
}
.text-room { 
  font-size: 17px;
}

.input {
  width: 370px; /* Adjust the width as needed */
}

